*, *:before, *:after {
    box-sizing: inherit;
  }
  
  .contact-us {
    padding: 190px;
    text-align: center;
    background-color: #474e5d;
    color: rgb(243, 239, 239);
  }

  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }