<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <div class="col-md-6 col-lg-5 d-none d-md-block">
            <img src="https://ingrammicrocloud.com/sites/default/files/2021-12/snp-technologies-inc-logo.png"
              alt="img not found" height="100px"/>
          </div>
          <form #loginform="ngForm" (ngSubmit)="loginUser()">
            <small class="text-danger">{{errorMessage}}</small>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form1Example13">Email address</label>
              <input type="email" id="form1Example13" class="form-control form-control-lg" 
              name="email" [(ngModel)]="user.emailId" 
              required 
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              #email="ngModel"
              [class.is-invalid]="email.invalid && email.touched"/>
              
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form1Example23">Password</label>
              <input type="password" id="form1Example23" class="form-control form-control-lg" 
              name="password" [(ngModel)]="user.password"
              required #password="ngModel"
              [class.is-invalid]="password.invalid && password.touched">
              <small class="text-danger" [class.d-none]="password.valid || password.untouched">*Password Is Required</small>
              
            </div>
  
            <div class="d-flex justify-content-around align-items-center mb-4">
              <!-- Checkbox -->
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                <label class="form-check-label" for="form1Example3"> Remember me </label>
              </div>
            </div>
  
            <!-- Submit button -->
            <div class="col-md-6">
              <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
                <button type="reset" 
                style="text-align: right; float: right;"
                class="btn btn-warning btn-lg">Clear</button>
              </div>
            </div>
  
          </form>
        </div>
      </div>
    </div>
  </section>
